  
   body {
     font-family: Arial, sans-serif;
     margin: 0;
     padding: 0;
     display: flex;

     background-image: url("background.png");
     background-color: #222629;
     background-size: 100%;
     /* background-size: ; */
     /* background-repeat: no-repeat; */
     background-position: center center;
     background-attachment: fixed;
   }

   .mainView {
     flex: auto;
     display: block;
     margin-left: var(--content-margin);
     transition: margin-left 0.3s;
     /* Add transition effect */

   }

   .results {
     flex: auto;
     display: none;
   }

   .measure {
     flex: auto;
     display: flex;
   }

   .deduction {
     flex: auto;
     display: none;
   }



   .main {
     flex-grow: 1;
     padding: 1-px;
     overflow-y: scroll;
   }

   .textbox {
     border-radius: 10px;
     width: 100%;
     height: 80%;
     opacity: 0.7;
     border: 2px solid #62893f;
     padding: 10px;
     resize: none;
     background-color: #474b4f;
   }

   /* ... other CSS styles ... */

   input:focus,
   textarea:focus {
     outline: none;
     /* Remove the focus outline */
     /* OR */
     outline: 3px solid #86c232;
     /* Change this to the desired color and style */
   }

   input[type="text"],
   textarea {
     color: #86c232;
     /* Change this to the desired color */
     font-size: 30px;
   }

   /* ... other CSS styles ... */

   .buttons {
     display: flex;
     justify-content: right;
     margin-top: 20px;

   }

   .button {
     width: 190px;
     /* Adjust the desired width */
     height: 70px;
     /* Adjust the desired height */
     font-size: 30px;
     /* Adjust the desired font size */
     padding: 10px 30px;
     margin-left: 3%;

     background-color: #86c232;
     color: #222629;
     border: 1px;
     text-decoration: none;
     border-radius: 50px;
     transition: background-color 0.3s;
     transition: transform 0.2s ease;
     margin-right: 10px;
   }

   .button:hover {
     background-color: #62893f;
     transform: scale(1.1);

   }



   :root {
     --content-margin: 80px;
     /* Default margin value */
   }

   .content {
     /* margin-left: var(--content-margin); */
     padding: 50px;
     text-align: center;
     overflow: auto;
     max-height: 90vh;
     flex: 4;
     transition: margin-left 0.3s;
     /* Add transition effect */

   }





   /* li:hover{
      background-color: #86c232;
      border-radius: 50px; 
    margin-right: 20px;

    } */