<!DOCTYPE html>
<html>

<head>
  <title>Scrollable Text Box with Buttons</title>
  <link rel="stylesheet" href="{{url_for('static', filename ='css/chat.css')}}">
</head>

<body>

  {% include 'nav_menu.html' %}
  <div class="mainView" id="mainView">
    <div class="measure" id="measure">

      {% include 'measure_main.html' %}
      {% include 'measure_sidebar.html' %}
    </div>
    <div class="results" id="results">

      {% include 'results_main.html' %}
      {% include 'results_sidebar.html' %}


    </div>

    <div class="createWitness" id="createWitness">
      {% include 'create_dt.html' %}
      {% include 'create_cut1.html' %}
      {% include 'create_cut2.html' %}
      {% include 'create_sidebar.html' %}
    

  </div>

  </div>


</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/chat.js') }}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

</html>