<!DOCTYPE html>
<html>
<head>
  <title>Scrollable Text Box with Buttons</title>
  <link rel="stylesheet" href="{{url_for('static', filename ='css/chat.css')}}">
</head>
<body>

    <nav class="menu">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
    <div class="hamburger-menu">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
  

    <div class="content">
      <textarea class="textbox" id="textbox" name = placeholder="Type your text here..."></textarea>
      
      <div class="buttons">
        <button class="button"  onclick="resetTextBox()">Reset</button>
        <button class="button"  onclick="sendData()">Submit</button>
      </div>
    
    </div>
 
    <div class="sidebar">
      <ul>
        <h2>Inconsistency Measures</h2>
        <li>
         
            <input type="checkbox" name="option" value="option3">
          <label class="checkbox-label">
            Drastic
          </label>
        </li>
        <li>

            <input type="checkbox" name="option" value="option1">
            <label class="checkbox-label">
            MI 
          </label>
        </li>
        <li>
            <input type="checkbox" name="option" value="option2">
            <label class="checkbox-label">
            MI<sup>c</sup>
          </label>
        </li>
        <li>
            <input type="checkbox" name="option" value="option2">
            <label class="checkbox-label">
            MC
          </label>
        </li>
        <li>                                                                                                      
            <input type="checkbox" name="option" value="option2">
            <label class="checkbox-label">
            Problematic                                                               
          </label>
        </li>
      </ul>
      <ul>
        <hr class="list-divider">
        <h2>E-Witnesses</h2>
        <li>
         
            <input type="checkbox" name="option" value="option3">
          <label class="checkbox-label">
            Resolution
          </label>
        </li>
        <li>

            <input type="checkbox" name="option" value="option1">
            <label class="checkbox-label">
              Membership 
          </label>
        </li>
        <li>
            <input type="checkbox" name="option" value="option2">
            <label class="checkbox-label">
              MPC
          </label>
        </li>
        <li>                                                                                                      
            <input type="checkbox" name="option" value="option2">
            <label class="checkbox-label">
              Complementary                                                               
          </label>
        </li>
      </ul>
    </div>

  

  

</body>
</html>
