<link rel="stylesheet" href="{{url_for('static', filename ='css/sidebar.css')}}">

<div id="sidebar" class="sidebar">
    <ul>

      <hr class="list-divider">
      <li>
        <button class="button" onclick="viewDeduction()">Deduction</button>
      </li>
      <hr class="list-divider">
      <li>
        <button class="button" onclick="viewCut1()">Cut1</button>
      </li>
      <hr class="list-divider">
      <li>
        <button class="button" onclick="viewCut2()">Cut2</button>
      </li>

    </ul>
</div>