<div id="sidebar" class="sidebar">
    <ul>
      <h2>Inconsistency Measures</h2>
      <li>
        <label class="checkbox-label">
          Drastic
        </label>
        <input type="checkbox" name="measures" value="drastic">

      </li>
      <li>
        <label class="checkbox-label">
          MI
        </label>
        <input type="checkbox" name="measures" value="mi">

      </li>
      <li>
        <label class="checkbox-label">
          MI<sup>c</sup>
        </label>
        <input type="checkbox" name="measures" value="mic">

      </li>
      <li>
        <label class="checkbox-label">
          MC
        </label>
        <input type="checkbox" name="measures" value="mc">

      </li>
      <li>
        <label class="checkbox-label">
          Problematic
        </label>
        <input type="checkbox" name="measures" value="prob">

      </li>
    </ul>
    <ul id="checkboxList">
      <hr class="list-divider">
      <h2>E-Witnesses</h2>

    </ul>
  </div>
